{:nrepl    false
 :deps     {:aliases [:dev :repl]}
 :dev-http {9090 "classpath:public"}
 :builds   {:app {:target     :browser
                  :output-dir "resources/public/assets/app/js"
                  :asset-path "/assets/app/js"
                  :modules    {:main {:init-fn simple-chess.app/init}}
                  :devtools   {:preloads [day8.re-frame-10x.preload]}
                  :dev        {:compiler-options
                               {:closure-defines
                                {re-frame.trace.trace-enabled?        true
                                 day8.re-frame.tracing.trace-enabled? true}}}}}}